.header{
    box-shadow: 2px 5px 2px 5px #888888;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
    height: 100px;
    
    width: 100px;
}

.nav-menu > ul{
    font-size:20px;
    display: flex;
    justify-content: space-around;
   
}

.nav-menu > ul > li{
   padding: 10px;
   margin   : 10px;
   list-style-type: none;

   
}

.res-container{
    display: flex;
    flex-wrap:wrap;
   
}

.card-container{
    padding: 10PX;
    margin: 5px 12px;
    width: 250px;
    height: auto;
    border: .2px solid black;
    /* box-shadow: 2px 5px 2px 5px #888888; */

}
.card-container:hover{
    border: 2px solid black;
    box-shadow: 2px 5px 2px 5px #888888;
    cursor: pointer;

}
.food-photo{
    width: 240px;
    height: 200px;
}
.food-photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-res{
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}
.about-res>p{
   padding: 2px;
   margin: 0;
   margin-bottom: 5px;
  
}
.res-order{
    display: flex;
    align-items: center;
    justify-content: center;    

}
h3, h4 {
    margin-top: 15px; /* Remove margin from the top */
    margin-bottom: 15px; /* Remove margin from the bottom */
}
.special {
    display: flex;
    justify-content: space-around;
}
.filter-btn{
    margin :10px;
    margin-top: 20px;
    width: auto;
    height: 30;
}
.search{
    margin :10px;
    margin-top: 20px;
    width: auto;
    height: 30;

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;    
}

.shimmer-card{
    padding: 10PX;
    margin: 30px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.log-in{
    cursor: pointer ;
    /* padding: 0px 20px;; */
}

